<mat-card>
  <mat-card-title>
    <span>{{visit.date}}</span> <span>{{visit.specialization}}</span>
  </mat-card-title>
  <mat-card-subtitle>ID: {{visit.id}}</mat-card-subtitle>

  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="patient-data">
    <div class="section-title">Patient personal data</div>
      <div>
        <table>
          <tr>
            <td>Name:</td>
            <td>{{visit.patientData.name}}</td>
          </tr>
          <tr>
            <td>Surname:</td>
            <td>{{visit.patientData.surname}}</td>
          </tr>
          <tr>
            <td>Birthdate:</td>
            <td>{{visit.patientData.birthDate}}</td>
          </tr>
          <tr>
            <td>Pesel:</td>
            <td>{{visit.patientData.pesel}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="section-title">Course of visit</div>
    <div class="visit-notes">
      <mat-form-field appearance="outline">
        <mat-label>Visit notes</mat-label>
        <textarea type="text" matInput [(ngModel)]="notes" (ngModelChange)="updateVisitDetails()"  matAutosizeMinRows=5 matAutosizeMaxRows=20></textarea>
      </mat-form-field>
    </div>
    <div class="medicaments">
      <mat-form-field appearance="fill">
        <mat-label>Medicaments</mat-label>
        <mat-select [(ngModel)]="medicaments" (selectionChange)="updateVisitDetails()" multiple>
          <mat-select-trigger>
            {{medicaments.length ? medicaments[0].name : ''}}
            <span *ngIf="medicaments.length > 1" class="example-additional-selection">
              (+{{medicaments.length - 1}} {{medicaments.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let m of medicalList" [value]="m">{{m.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
