:host {
  width: 60%;
  margin: 50px 50px
}
.mat-card {
  width: 100%;

  .mat-card-title {
    span {
      margin-right: 10px;
    };
  }
}
.patient-data {
  padding-top: 20px;
}

.section-title {
  color: orange;
  margin: 10px 0;
}

.mat-form-field {
  margin-top: 10px;
  width: 100%;
  textarea {
    height: 180px;
  }
}



