<div class="wrapper" *ngIf="visits.length">
  <mat-card *ngFor="let v of visits">
    <table>
      <tr>
        <td>{{v.date}}</td>
        <td class="planned-visit-specialization">{{v.specializationName}}</td>
        <td>Doctor {{v.doctorName}} {{v.doctorSurname}}</td>
        <td><button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon (click)="cancelVisit(v.id)">cancel</mat-icon>
        </button></td>
      </tr>
    </table>
  </mat-card>
</div>

<div class="wrapper" *ngIf="!visits.length">
  <mat-card>
    <div class="no-visits-text">Actually Your have no scheduled visits.</div>
    <div class="action"><button mat-button routerLink="/patients/reserve-visit">Book one</button></div>
  </mat-card>
</div>
