:host {
  width: 100%;

  .wrapper {
    margin: 50px;
  }

  .mat-card {
    margin-bottom: 20px;
    width: 700px;

    table {
      width: 100%;
    }

    .mat-icon-button.mat-warn {
      color: orange;
    }
    .planned-visit-specialization {
      color: orange;
    }

    .no-visits-text {
      text-align: center;
      font-size: 20px;
      color: orange;
      margin-top: 40px;
    }
    .action {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .mat-button {
        background-color: rgba(255,255,255,0.5);
        height: 60px;
      }
    }
  }

}

