.main-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.top-bar {
  z-index: 2;
  width: 100%;
  height: 45px;
  background-color: #262626;
  opacity: .7;
  border-bottom: 1px solid darken(#262626, 50%);
  border-top: 1px solid darken(#262626, 50%);
  position: sticky;
  top: 0;
}

