/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0;
  height: 100vh;

  background: url("assets/background.png");
  //background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Maven Pro'!important;
  font-weight: 600;

  .mat-card, .mat-stepper-vertical, .mat-stepper-horizontal {
    background-color: #c1f1f5;

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: white;
    }
  }

  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-edit {
    background-color: orange;
  }
}
//.mat-form-field-empty.mat-form-field-label {
//  color: green;
//}
//.mat-form-field-underline {
//  background-color: green;
//}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #c1f1f5 inset !important;
}


