<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PrzychodniaAutomatyczna">
    <test verbose="2" preserve-order="true" name="SingleServicesTests" parallel="classes" thread-count="5">
        <packages>
            <package name="BookVisitSystemTests"></package>
            <package name="ReceiptGeneratorSystemTests"></package>
            <package name="VisitReminderSystemTests"></package>
            <package name="User-Authentication-SystemTests"></package>
        </packages>
    </test>
    <test verbose="2" preserve-order="true" name="IntegrationTests" parallel="false">
        <classes>

        </classes>
    </test>
</suite>

