<mat-card class="wrapper">
  <div class="filters">
      <form [formGroup]="periodForm">
        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="startDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field >
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="endDate" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </form>
  </div>
  <mat-card-content *ngIf="plannedVisits.length">
    <div *ngFor="let visit of plannedVisits" class="visit"
          (click)="showVisitDetails(visit.id)">
      <mat-card><table>
        <tr>
          <td>{{ visit.date }}</td>
          <td class="planned-visit-specialization">{{visit.specializationName}}</td>
          <td>Patient {{visit.patientName}} {{visit.patientSurname}}</td>
<!--          <td><button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">-->
<!--            <mat-icon (click)="cancelVisit(v.id)">cancel</mat-icon>-->
<!--          </button></td>-->
        </tr>
      </table>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!plannedVisits.length">
    <div class="no-panned-visits">No planned visits due this period</div>
  </mat-card-content>
</mat-card>

