<div class="wrapper">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select specialization</ng-template>
        <mat-form-field>
          <mat-label>Specialization</mat-label>
          <mat-select formControlName="firstCtrl" required>
            <mat-option *ngFor="let s of specializations" [value]="s.id">
              {{s.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="getDoctorsBySpecialization()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="doctrorFormGroup">
      <form [formGroup]="doctrorFormGroup">
        <ng-template matStepLabel>Select doctor</ng-template>
        <mat-form-field>
          <mat-label>Specialization</mat-label>
          <mat-select formControlName="doctorCtrl" required>
            <mat-option *ngFor="let d of doctors" [value]="d.id">
              Doctor {{d.name}} {{d.surname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="periodForm">
      <form [formGroup]="periodForm">
        <ng-template matStepLabel>Select date</ng-template>
        <div class="filters">
            <mat-form-field appearance="fill" class="visit-time">
              <mat-label>From date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="startDate" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>To date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="endDate" />
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="getPossibleVisits()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Choose from possible visits</ng-template>
        <div class="filters">
          <mat-form-field>
            <mat-label>Dates</mat-label>
            <mat-select formControlName="thirdCtrl" required>
              <mat-option *ngFor="let v of posssibleVisits" [value]="v.date">
                {{v.date}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="reserveVisit()">Reserve</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="reservation-request-info" *ngIf="reservationSucceed">
        <div>Your visit has been successfully reserved.</div>
        <div>Visit date: {{visitDetails.date}} <button mat-button routerLink="/patients/planned-visits">My planned visits</button></div>
      </div>
      <div class="reservation-request-info" *ngIf="!reservationSucceed">
        <div>Sorry, an error occurred during reservation. Please try again.</div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
